<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="vue.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>TGS8_D_9845</title>
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body style="background-color :#5C79BC;">
    <nav class="navbar navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="#todo" style="color: white">TO-DO LIST Form</a>
        </div>
    </nav>
    <div class="p-4 container" id="app">
        <div class="row row-cols-1">
            <div class="rounded shadow-lg bg-white overflow-auto m-2 mb-5 p-4" style="max-width: 100%; width: 75%; height: 400px;" v-show="array_exist">
                <div v-show="array_exist">
                    <span v-for="(item, index) in listTodo" :key="index">
                        <div class="shadow-sm p-3 bg-white rounded mb-3">
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    <span v-if="item.list_item.prioritas == 'Penting'">
                                        <p class="border border-danger w-50 text-center rounded p-1 text-danger font-weight-bold">{{item.list_item.prioritas}}</p>
                                    </span>
                                    <span v-if="item.list_item.prioritas == 'Tidak Penting'">
                                        <p class="border border-warning w-75 text-center rounded p-1 text-warning font-weight-bold">{{item.list_item.prioritas}}</p>
                                    </span>
                                    <span v-if="item.list_item.prioritas == 'Biasa'">
                                        <p class="border border-success w-50 text-center rounded p-1 text-success font-weight-bold">{{item.list_item.prioritas}}</p>
                                    </span>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-outline-danger rounded-circle" @click="removeTodo(index)">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h3>{{item.list_item.tugas }}</h3>
                            <p>{{item.list_item.catatan }}</p>
                        </div>
                    </span>
                </div>
            </div>

            <div class="rounded shadow-lg bg-white m-2 w-75 p-4" id="todo">
                <label for="nama_tugas" class="font-weight-bold">Masukkan Pekerjaan yang ingin dikerjakan:</label>
                <input type="text" id="nama_tugas" class="form-control mb-3" placeholder="Nyetrika, Mandi, Bengong,..." v-model="list_item.tugas">
                <label for="prioritas" class="font-weight-bold">Skala Prioritas:</label>
                <select id="prioritas" v-model="list_item.prioritas" class="form-control mb-3">
                    <option value="Penting">Penting</option>
                    <option value="Tidak Penting">Tidak Penting</option>
                    <option value="Biasa">Biasa</option>
                </select>
                <label for="textarea" class="font-weight-bold" >Catatan:</label>
                <textarea name="textarea" id="textarea" cols="3" placeholder="Penting karena...." rows="3" class="form-control mb-3" v-model="list_item.catatan"></textarea>
                <span v-if="list_item.prioritas == '' && list_item.catatan == '' && list_item.tugas == ''">
                    <button class="btn btn-outline-secondary" @click="reset" disabled>Reset</button>
                </span>
                <span v-else>
                    <button class="btn btn-secondary" @click="reset">Reset</button>
                </span>
                <span v-if="list_item.prioritas == '' || list_item.tugas == ''">
                    <button class="btn btn-outline-success" @click="addTodo" disabled>Submit</button>
                </span>
                <span v-else>
                    <button class="btn btn-success" @click="addTodo">Submit</button>
                </span>
            </div>
        </div>
<!--        <footer class="footer" role="contentinfo">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-6">-->
<!--                        <p>{{identitas.nama}} | {{identitas.npm}} | {{identitas.kelas}}</p>-->
<!--                        <div class="credits">-->
<!--                            Designed by Timotius-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 social text-md-right">-->
<!--                        <a href="#"><span class="icofont-twitter"></span></a>-->
<!--                        <a href="#"><span class="icofont-facebook"></span></a>-->
<!--                        <a href="#"><span class="icofont-dribbble"></span></a>-->
<!--                        <a href="#"><span class="icofont-behance"></span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->
        <footer class="page-footer font-small blue sticky-bottom p-4">
            <div class="d-flex justify-content-center" style="color:white;">
                <p>{{identitas.nama}} | {{identitas.npm}} | {{identitas.kelas}}</p>

            </div>
            <div class="col-sm-15 social text-md-center">
                <a href="https://twitter.com/tio_cumi"><span class="icofont-twitter"></span></a>
                <a href="https://www.facebook.com/"><span class="icofont-facebook"></span></a>
                <a href="https://www.instagram.com/tio_103/"><span class="icofont-instagram"></span></a>
                <a href="https://www.linkedin.com/in/timotius-wijayanta-2b208a1a0/"><span class="icofont-linkedin"></span></a>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            identitas: {
                nama:"Timotius Ferdinand Wijayanta",
                npm:"180709845",
                kelas:"Kelas D",
            },
            list_item:{
                tugas:"",
                prioritas:"",
                catatan:"",
            },
            array_exist:1,
            listTodo: [
                {list_item:{tugas:"Belajar",prioritas:"Penting",catatan:"PAW, PBP, APD"}},
                {list_item:{tugas:"Pacaran",prioritas:"Biasa",catatan:"Punya pacar duluuu"}},
                {list_item:{tugas:"Main Game",prioritas:"Tidak Penting",catatan:"Selesaikan UGD PAW Dulu"}},
            ],
        },
        methods: {
            addTodo() {
                this.array_exist = 1;
                if(this.list_item.catatan == "") {
                    this.list_item.catatan = "-"
                }
                this.listTodo.push({
                    list_item: {
                        tugas:this.list_item.tugas,
                        prioritas:this.list_item.prioritas,
                        catatan:this.list_item.catatan,
                    }
                });
                this.reset();
            },
            removeTodo(index) {
                this.listTodo.splice(index, 1);
                if(this.listTodo.length == 0) {
                    this.array_exist = null;
                }
            },
            reset() {
                this.list_item.tugas = "";
                this.list_item.prioritas = "";
                this.list_item.catatan = "";
            },
            length() {
                return this.listTodo.length;
            },
        },
    });
</script>
</html>